* {
    box-sizing: border-box;
}
.wrapper {
width: 1000px;
margin: 10px auto;
padding-top: 10px;
padding-bottom: 10px;
background-color: white;
}
header {
    
    width: 1000px;
    text-align: center;
    background-color: black ;
    height: 60px;
    margin:0px 20px;
    width: 960px;
    

}
.contanier {
    display: flex;
}
main{
    width: 600px;
    padding: 20px;
    
}

.right {
    width: 400px;
    margin-left: 20px;
    padding: 20px;
    
}
footer {
    padding: 30px 0;
   margin:10px 20px;
    text-align: center;
    
}
.block {
    width: 860px;
}
.sitename {
    margin-bottom: 10px;
    font: 20px Arial;
    
}
nav {
    display: flex;
    width: 600px;
   
}
nav a{
    padding: 10px;
    text-decoration: none;
}
nav a:hover,nav a:active{
    color:rgb(73, 146, 85);
    text-decoration: underline;
}   

main p{
    margin: 10px 0;
    text-align: justify;
    
}
body {
    background-color: rgb(90, 47, 6);
    font-family: Trebuchet MS;
    
}

.header_link {
    text-align: center;
    display: flex;
    align-items: center;
    display: inline;
   margin: 55px;
   margin-top: 5px;
   color: white;
}
h1 {
    font-family: Trebuchet MS ;
    color: white;
    text-align: center;
   
}
h2 {
    color: rgb(90, 47, 6) ;
    font-size: 40px;
    font-family: Trebuchet MS ;

}
.box{
    margin-bottom: 20px;
    background-color: rgb(228, 217, 203);
}
.box h3{
    background-color: rgb(87, 156, 247);
    color: white;
    padding: 10px;
    margin: 0;
}
.box a{
    color: rgb(73, 146, 85);
    text-decoration: none;
}
footer {
    background-color:rgb(73, 146, 85) ;
    
}
.text{
   color:rgb(73, 146, 85) ;
   text-decoration: none;
}
img{
    width: 960px;
}
.img_header{
    width: 1000px;
    padding: 20px;
}
.footer_link{
    color: aquamarine;
    text-decoration: none;
}


